* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

#open,
#close {
    cursor: pointer;
    width: 150px;
    border: 1px solid gray;
    border-radius: 4px;
    text-align: center;
    padding: 12px 0;
    margin: 16px auto;
    background: gainsboro;
    color: rgb(138, 155, 157);
}

#mask {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#modal {
    background: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 4px;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#mask.hidden {
    display: none;
}

#modal.hidden {
    transform: translateY(-500px);
}